body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

#p3 {
  font-family: "Jura", sans-serif;
}

.nav-extended {
  background-color: rgb(94, 5, 112);
}

.jumbo {
  background: lightblue;
  height: 300px;
  margin-top: -40px;
}

.offsetBtn {
  background: rgb(223, 167, 247);
  color: black;
}

.hiw {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 25%;
  margin-left: 20px;
  display: inline-block;
}
/* 
.card :hover {
  width: 25%;
  margin-left: 20px;
  box-shadow: 10px 5px 5px rgb(94, 5, 112);
  height: 200px;
  border: solid black 5px;
} */

.card-image {
  width: 25%;
  height: 160px;
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

#footer-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iframe {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
}